{% load static %} {% if user.is_authenticated %} {% include 'headerTask.html' %}
{% block content %}
<head>
  <title>Home Page</title>
</head>

<body>
  <div class="mx-5 container"  style="background-color: gray !important;">
     
    <center>
      <h1>Home</h1>
    </center>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} style="color: rgb(230, 6, 6)" class="{{ message.tags }}" {% endif %} >  {{ message }}</li>
      {% endfor %}
    </ul> 
    {% endif %}
  </div>

<div class="mx-5 container profile-card">
    <div class="profile-content">
        <img src="{{BASE_DIR}}/media/{{user.profile_image}}" class="profile-img">

        <div class="profile-info">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <label class="email">{{user.email}}</>
            <h7 class="badge bg-gradient">{{user.gender}}</h7>
        </div>
    </div>
</div>

  {% endblock %} {% include 'footerTask.html' %} {% endif %}
</body>
